body {
    background: #111;
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin-top: 30px;
  }
  
  canvas {
    border: 2px solid white;
    background: #000;
  }
  
  h2 {
    margin-top: 10px;
  }